@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    text-decoration: none;
    color: #0000EE;
}

a:visited {
    color: #0000EE;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #FCA739
}

.header {
    overflow: hidden;
    background-color: #01153e;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover {
    background-color: #525A6B;
}

.header a.active {
    background-color: #344D7C;
}

.spacer {
    height: 5em;
}

.caption {
    max-width: 60%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageLink {
    max-width: 60%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img {
    max-width: 100%;
}