@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 0.1em;
    text-align: center;
    background: #01153E;
    color: white;
    font-size: 3em;
}

.spacer {
    height: 5em;
}

.caption {
    max-width: 60%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerLink {
    color: white;
}

.imageLink {
    max-width: 60%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img {
    max-width: 100%;
}